:ruby
  content_for(:page_header) do
    component('page-header',
              text: 'Edit Workflow' + @get.section_content.name)
  end

- content_for(:page_content) do
  .ui-container.mam.pam.bright.bordered.rounded-bottom.rounded-right

    = form_with model: @workflow do |f|
      .form-body
        .ui-form-group.rowed
          = f.label :name, class: 'title-s', class: 'form-label'
          = f.text_field :name, class: 'form-item', style: 'width: 100%'

      .form-footer{ style: 'padding: 0px 10px' }
        = f.submit t(:group_update_form_save_btn, raise: false), class: 'primary-button'
